<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>728428768644-74gi291n30knn0pcadrgg5jsekjq99s7.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.728428768644-74gi291n30knn0pcadrgg5jsekjq99s7</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>728428768644-84scc0cnfbr349givpti11elt0eklnkp.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyDlzLl0CmXaIhGr1Y81SvBkHDFXrW1dunM</string>
	<key>GCM_SENDER_ID</key>
	<string>728428768644</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>org.pcc.flutterWidgets.ios</string>
	<key>PROJECT_ID</key>
	<string>fir-recipes-b5611</string>
	<key>STORAGE_BUCKET</key>
	<string>fir-recipes-b5611.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:728428768644:ios:edada773048fb43c</string>
	<key>DATABASE_URL</key>
	<string>https://fir-recipes-b5611.firebaseio.com</string>
</dict>
</plist>